.icon {
  max-height: 50px;
  max-width: 50px;
  border-radius: 15px;
  vertical-align: middle;
  margin-right: 6px;
}

.member-photo {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.total {
  align-self: center;
  text-align: right;
  font-size: 16px;
  padding-bottom: 16px;
}
