.most-used-tags-list {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  align-content: center;
}

img {
  max-height: 20px;
  max-width: 20px;
  vertical-align: middle;
}

.icon {
  flex: 0 0 30px;
}

.desc {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
}

.total {
  font-size: 12px;
  flex: 0 0 70px;
  text-align: right;
  white-space: nowrap;
}

.total-items {
  background: #bbb;
  padding: 0 2px;
  display: inline-block;
  border: solid 1px #999;
  border-radius: 10px;
  min-width: 15px;
  text-align: center;
}

.anchor {
  cursor: pointer;
}

.anchor:hover {
  background-color: #ddd;
}
