<div class="my-expense-tracker">

  <div class="title-bar">

    <mat-toolbar color="primary">
      <h1 class="mat-headline">
        My Expense Tracker
      </h1>
    </mat-toolbar>
  </div>

  <div class="nav">

    <div class="panel">
      MEMBERS
    </div>
    <div class="panel-body">
      <app-members [cssClassName]="'nav-panel'" [members]="member$ | async"></app-members>
    </div>

    <div class="panel">
      Expense Tags
    </div>
    <div class="panel-body" *ngIf="{ expenses: expenses$ | async, ignoreTags: ignoreTags$ | async } as data">
      <app-tag-summary [expenses]="data.expenses" [ignoreTags]="data.ignoreTags"></app-tag-summary>
    </div>


  </div>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <div class="ads">sdfs</div>

</div>
