@import '../../common/css-variables.scss';

.title-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.total-expense-income-so-far {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  >div {
    margin: 10px 0;
    border-right: solid 1px #ccc;
    width: 33%;
  }

  >div:last-child {
    border: none;
  }

  strong {
    display: block;
  }
}

.panel-heading {
  background: mat-color($accent, 200);
  color: mat-color($accent, 900);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  font-variant: small-caps;


  .col-2 {
    flex: 0 0 120px;
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  >div {
    padding: 5px 10px;
  }

  .member-photo {
    margin-right: 15px;
  }
}

.row:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 5%;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(110, 110, 110, 0.3), transparent, rgba(110, 110, 110, 0.3));
}


.col-month {
  flex: 0 0 50px;
}

.col-amount {
  font-size: 13px;
  flex: 0 0 125px;
  color: rgba(0, 0, 0, 0.54);
}

.col-desc {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.tags {
  background-color: mat-color($warm, 400);
}

.icon-wrapper {
  margin-right: 20px;

  img {
    max-height: 30px;
    max-width: 35px;
  }
}

.all-expenses {

  .sub-heading {
    background: mat-color($accent, 100);
    padding: 5px 10px;
    font-size: 14px;
    font-variant: small-caps;
  }
}

mat-expansion-panel-header {
  border-bottom: solid 1px #ddd;
  padding: 0 15px;
}

.mat-expansion-panel-body {
  padding: 0 15px 16px
}

.vendor-purchasing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  width: 100%;
}

.vendor-icon {
  flex: 0 0 50px;

  img {
    max-width: 40px;
    max-height: 40px;
  }
}

.vendor-total {
  flex: 0 0 120px;
}

.vendor-name {
  flex: 1 1 auto;
}

.mat-chip {
  font-size: 12px;
}

.expenses-list {
  padding: 5px 15px;

  .col-amount {
    font-size: 15px;
    flex: 0 0 134px;
  }
}

.expenses-list:empty {
  display: none;
}

.member-photo {
  max-height: 30px;
  max-width: 30px;
  border-radius: 15px;
}
