<div class="dashboard">

  <div class="title-bar">
    <h2>Dashboard</h2>
    <button mat-raised-button color="primary">Add an expense</button>
  </div>

  <div class="total-expense-income-so-far">
    <div class="total-income">
      <strong>
        total income
      </strong>
      {{totalIncome$ | async | currency: 'CAD'}}
    </div>
    <div class="total-expense">
      <strong>
        total expense
      </strong>
      {{totalExpense$ |async | currency: 'CAD'}}
    </div>
    <div class="total-savings">
      <strong>
        total savings
      </strong>
      {{ (totalIncome - (totalExpense$|async)) | currency: 'CAD' }}
    </div>
  </div>

  <div class="all-income">
    <div class="panel-heading">
      <span>
        Income(Forecast)
      </span>
      <span class="col-2">
        {{totalIncome$ | async | currency: 'CAD'}}
      </span>
    </div>

    <ng-container *ngFor="let income of income$ | async">


      <div class="row" [ngClass]="{'future-income':  (getDay(income.dated) | async) > currentDay }">
        <div class="vendor-icon" *ngIf="(getVendorById(income.vendor_id) | async) as vendor">
          <img [src]="iconUrl + (income.tagsArray[0].toLocaleLowerCase().replace(' ','-') +'.png' || 'money.png')">
        </div>
        <div class="col-desc">
          <span class='income-dated'>
            {{income.dated | date:'MMM d' }}
          </span>

          <ng-container *ngFor="let member of getMemberById(income.member_id) | async">
            <img *ngIf="member.photo!==null" class="member-photo" [src]="memberPhotoUrl + member.photo" alt="">
          </ng-container>

          <mat-chip-list>
            <ng-container *ngFor="let tag of income.tagsArray; let i=index;">
              <mat-chip color="primary">
                {{ tag }}
              </mat-chip>
            </ng-container>
          </mat-chip-list>

        </div>
        <div>
          {{ income.amount| currency: 'CAD'}}
        </div>
      </div>


    </ng-container>

  </div>


  <div class="all-expenses">

    <div class="panel-heading">
      <span>
        Expenses
      </span>
      <span class="col-2">
        {{totalExpense$ | async | currency: 'CAD'}}
      </span>
    </div>

    <app-expense-group [expenses]="expensesByMonth | async" [expenseTypeIcons]="expenseType.expenseTypeIcons"
      [currentMonth]="currentMonth"></app-expense-group>

  </div>

</div>
