<div class="expenses-list">
  <ng-container *ngFor="let expense of expenses">

    <div class="row">
      <div class="dated">
        <span>
          {{ expense.dated| date:'MMM d' }}
        </span>
      </div>
      <div class="col-desc">
        <mat-chip-list>
          <div class="icon">
          </div>

          <ng-container *ngFor="let tag of expense.tagsArray; let i=index;">
            <div *ngIf="i==0" class="icon-wrapper">
              <img [src]="iconUrl + (getIcon(tag) || 'buying.png')">
            </div>

            <mat-chip color="primary">
              {{ tag }}
            </mat-chip>
          </ng-container>

        </mat-chip-list>
      </div>

      <div class="col-amount">
        {{expense.expense_total | currency: 'CAD'}}
      </div>
    </div>

  </ng-container>
</div>
